<%- include('header'); -%>

<form action="/" method="post">
    <label for="dateInput">Date To Watch: </label>
    <input id="dateInput" type="date" name="dateToWatch">
    <button type="submit">Go</button>
</form>

<div class="reservations">
    <p> <%- reservationSummary %> </p>
    <%- event_list_html %>
</div>

<%- include('footer'); -%>
